html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #636363;
  background-image: linear-gradient(to bottom, #4F4F4F 0px, #353535 100%);  
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    text-shadow: 0px -1px 0px #217DBB;
    background-image: linear-gradient(to bottom, #002A53 0px, #00162D 100%);
    background-repeat: repeat-x;
    border-color: #2384C6;
    color:#fff !important;
}




a:visited {    /* visited link */
    color: #555555 !important;
    text-decoration:none;
}
a:link.navbar-brand, a:visited.navbar-brand, a:active.navbar-brand, a:focus.navbar-brand{
    color:#fff !important;
    text-decoration:none;    
}
.table-generic {
    width: 100%;
    border: 1px solid #CCC;
}
.table-generic th {
    padding: 4px;
    border: 1px solid #CCC;
    background-color: #DDD;
}
.td-middle {
    vertical-align: middle !important;
}
.td-checkbox {
    background-color: #EEE;
    width: 30px;
}

i {
    margin-right:5px;
    min-width:20px;
}

.pointer {
cursor: pointer;
}

.sub-item {
    padding-left:50px;
}

.cs_dropdown_body {
    z-index:50;
 
}


.highlight {
    color:#990000;
}
.fax {
    color:#5C93C8;
}
.spam {
    color:#663300;
}

.attachments {
    color:#5C93C8;
}


span.mailboxname {
    width:70px;
    max-height:20px;
    overflow:hidden;    
    display:inline-block;
    letter-spacing:-1px;    
}
span.messagecount {
    width:65px;
    display:inline-block;
    text-align:right;
    letter-spacing:-1px; 
}
span.oldestmessage {
    width:55px;
    display:inline-block;
    text-align:right;
    letter-spacing:-1px;
    margin-left:5px;
}

span.messageid {
    width:2%;
    max-height:20px;
    overflow:hidden;    
    display:inline-block;
    text-align:right;
    letter-spacing:-1px; 
    font-weight: bold;    
    
}
span.messageid-fix {
    width:2%;
    max-height:20px;
    overflow:hidden;    
    display:inline-block;
    text-align:right;
    margin-right:4px; 
    letter-spacing:-1px;        
}
span.messagestatus{
    width:3%;
    max-height:20px;
    overflow:hidden;    
    display:inline-block;
    text-align:center;
    letter-spacing:-1px;
    font-weight: bold;
}
span.messagestatus-fix{
    width:3%;
    max-height:20px;
    overflow:hidden;
    display:inline-block;
    text-align:center;
    margin-right:4px; 
    letter-spacing:-1px; 
}
span.messagesender{
    width:17%;
    max-height:20px;
    overflow:hidden;    
    display:inline-block;
    text-align:left;
    letter-spacing:-1px;
    font-weight: bold;     
}
span.messagesender-fix{
    width:17%;
    max-height:20px;
    overflow:hidden;    
    display:inline-block;
    text-align:left;
    margin-right:4px; 
    letter-spacing:-1px;        
}
span.messagesubject{
    width:50%;
    max-height:20px;
    overflow:hidden;
    display:inline-block;
    text-align:left;
    letter-spacing:-1px;     
    font-weight: bold;
}  
span.messagesubject-fix{
    width:50%;
    max-height:20px;
    overflow:hidden;    
    display:inline-block;
    text-align:left;
    margin-right:4px; 
    letter-spacing:-1px;    
}  
span.messageage{
    width:5%;
    max-height:20px;
    overflow:hidden;    
    display:inline-block;
    text-align:right; 
    font-weight: bold;
}
span.messageage-fix{
    width:5%;
    max-height:20px;
    overflow:hidden;    
    display:inline-block;
    text-align:right; 
    letter-spacing:-1px;
    margin-right:4px;      
}    
span.messagesent{
    width:11%;
    max-height:20px;
    overflow:hidden;    
    display:inline-block;
    text-align:right;
    letter-spacing:-1px;
    font-weight: bold;
}
span.messagesent-fix{
    width:11%;
    max-height:20px;
    overflow:hidden;    
    display:inline-block;
    text-align:right;
    letter-spacing:-1px;
    margin-right:4px;        
}
span.messagesize{
    width:5%;
    max-height:20px;
    overflow:hidden;    
    display:inline-block;
    text-align:right;
    letter-spacing:-1px;
    font-weight: bold;
}
span.messagesize-fix{
    width:5%;
    max-height:20px;
    overflow:hidden;    
    display:inline-block;
    text-align:right;
    letter-spacing:-1px;
    margin-right:4px;        
}
span.messageattachment{
    float:right;    
    display:inline-block;
    text-align:right;
    letter-spacing:-1px;
    font-weight: bold;
}
span.list-group-item {
    margin:0;
    padding:0;
}
#message-details-panel {
    max-height:698px;

}

#message-details-panel .panel-body {
    max-height:655px;
    overflow-y:scroll;
}

.modal-body {
    width:100%;
    max-height:600px;
    overflow-y:scroll;
    margin:0px;

}

.modal-header, .modal-footer {
    color:#fff;
    background-color: #636363;
    background-image: linear-gradient(to bottom, #4F4F4F 0px, #353535 100%); 
}

.modal-header hr {
    margin:0px;
}

.column-no-right-padding {
    margin-right:0px;
    padding-right:0px;

}

.column-no-left-padding {
    margin-left:0px;
    padding-left:0px;

}
#modal-tools .fa {
    margin-right:10px;
}

.modal-emailheading {
    padding: 15px;
    border-bottom: 1px solid #E5E5E5;
    background-image: linear-gradient(to top, #B2B2B2 0px, #E6E6E6 100%);
}

.fa-right {
    margin-left:10px;
}

.well {
    background-image: linear-gradient(to top, #B2B2B2 0px, #E6E6E6 100%);    
}

#attachmentTable td{
    padding:6px;
}

.metaattachment {
    max-width:99%;
    margin-right:20px;
    display:block;
    float:left;
    list-style-type: none;
}

#metaDetailsAttachments {
    border-top:1px dotted #333333;
    padding-top:10px;
}

#metaDetailsWell hr {
    border-color:#333333 !important;
    border-style:dotted;
}
#multimeta {
    max-height:100px;
    overflow-y:auto;
}

.metawellclose {
    margin-right:10px;
    margin-top:5px;
}

#msgDetailsWell label {
    display:inline-block;
    text-align:right;
    padding-right:10px;
    padding-left:10px;
}
.lastmodifiedby {
    width:1%;
    min-width:20px;
}